In [9]:
import pandas as pd

data = pd.read_csv("data/Office_Eddie_raw.csv")
data = data.drop("Unnamed: 0",axis=1)
for i in range(len(data)):
    data["Date"][i] = data["Date"][i][:-6]
data.to_csv("data/Office_Eddie.csv",index_label = "Index")

pd.read_csv("data/Office_Eddie.csv",index_col="Index")

C:\Users\leitner\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,WindDirDegrees,energyConsumption,Date
Index,,,,,,,,
0,8.3,2.2,66.0,1018.3,16.1,280.0,24.92155,2012-01-01 00:00:00
1,7.8,2.2,68.0,1018.5,16.1,290.0,24.75485,2012-01-01 01:00:00
2,6.1,1.7,74.0,1018.7,16.1,240.0,24.67150,2012-01-01 02:00:00
3,3.9,1.1,82.0,1019.1,16.1,0.0,24.75485,2012-01-01 03:00:00
4,NaN,NaN,NaN,NaN,NaN,NaN,24.75485,2012-01-01 04:00:00
...,...,...,...,...,...,...,...,...
7315,NaN,NaN,NaN,NaN,NaN,NaN,34.09005,2012-10-31 20:00:00
7316,NaN,NaN,NaN,NaN,NaN,NaN,28.83900,2012-10-31 21:00:00
7317,NaN,NaN,NaN,NaN,NaN,NaN,26.17180,2012-10-31 22:00:00
7318,NaN,NaN,NaN,NaN,NaN,NaN,24.25475,2012-10-31 23:00:00
7319,NaN,NaN,NaN,NaN,NaN,NaN,24.33810,2012-11-01 00:00:00